@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* Color */
  --white: #fff;
  --white-gray: #F8F9F9;

  --font-black: rgb(27, 26, 26);
  --border-items: #d8dada;

  --blue--button: #0d6efd;
  --red-button: #FF6969;
  --green-button: #379237;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

#__next {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.d-none {
  display: none !important;
}

/* Buttton */
.btn {
  padding: 8px 10px;
  font-weight: 600;
  color: var(--font-black);
  border-radius: 6px;
}
/* End Button */