.forms__items {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;
}

.forms__label {
    font-size: .9em;
    color: var(--font-black);
    margin-left: 2px;
}

.forms__inputs {
    font-size: .8em;
    padding: 9px 12px 8px 12px;
    color: var(--font-black);
    border-radius: 6px;
    border: 1.3px solid #d0d7de;
    width: 100%;
}

.forms__inputs:focus {
    outline: 1.8px solid var(--blue-button);
} 

.lupa__password {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .8em;
    color: #0D6EFD;
}