.layout {
    position: relative;
    width: 100%;
    height: 100vh;
}

.layout__container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar {
    width: 230px;
    border-right: 1.3px solid var(--border-items);
}

.content {
    position: relative;
    display: flex;
    flex: 1 1;
}

/* Home Page */
.home__content {
    width: 74%;
    height: 1000px;
    padding: 24px 18px;
}

.home__content_header {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
}

.home__content_header > h2 {
    font-weight: 500;
}

.boarding {
    position: sticky;
    top: 0;
    flex: 1 1;
    border-left: 1.3px solid var(--border-items);
}

@media only screen and (max-width: 640px) {

    .sidebar {
        display: none;
    }
}

@media only screen and (max-width: 1030px) {

    .home__content {
        width: 100%;
    }
    .boarding {
        display: none;
    }
  }