.navbar {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 230px auto 200px;
    gap: 4px;
    align-items: center;
    flex: 1 1;
    width: 100%;
    height: 60px;
    background-color: #F8F9F9;
    box-shadow: 2px 0px 4px #888888;
    z-index: 10;
}
.menu__bars {
    display: none;
}
.navbar section:nth-child(1) {
    font-size: 1.4rem;
}
.navbar section:nth-child(3) {
    display: flex;
    justify-content: right;
}

.navbar section:nth-child(1) {
    padding-left: 24px;
}
.navbar section:nth-child(3) {
    padding-right: 24px;
}

.search {
    position: relative;
}

.search > span {
    position: absolute;
    top: 25%;
    left: 10px;
    z-index: 10;
}
.logo__mobile {
    display: none;
}
.search_input {
    width: 100%;
    outline: none;
    padding: 8px 10px 8px 36px;
    border-radius: 5px;
    border: 1px solid #d0d7de;
}

.search_input:focus {
    border: 1px solid #d0d7de;
}

.auth {
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
    width: 100%;
}

.auth__signin {
    color: white;
    background-color: var(--green-button);
}

.auth__login {
    color: var(--font-black);
    border: 1px solid var(--font-black);
}

.profile__nav {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile__nav_user {
    position: relative;
    display: flex;
    gap: 6px;
    align-items: center;
}

.profile__nav_user_username {
    color: var(--font-black);
    margin-top: -6px;
    font-weight: 500;
}

@media only screen and (max-width: 640px) {
    .navbar {
        grid-template-columns: 100px auto 100px;
    }
    .menu__bars {
        display: block;
    }
    
    .search {
        display: none;
    }
    
    .logo__mobile {
        display: flex;
        justify-content: center;
    }
    .navbar__brand > a,
    .profile__nav_user_username {
        display: none;
    }

    .profile__nav {
        gap: 16px;
    }
}