.diskusi__wrapper {
    width: 100%;
    margin: 24px 0 32px 0;
    padding: 0 38px;
}

.diskusi__emty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 100%;
    height: 182px;
    text-align: center;
    font-size: 1.2em;
    font-weight: 500;
    padding: 24px 12px;
    background-color: #F7F5F2;
    border-radius: 16px;
}

.diskusi__emty_icon {
    width: 34px;
    height: 34px;
}

.diskusi__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.diskusi__header p {
    margin-top: 6px;
}

.diskusi__buatBtn {
    font-weight: 600;
    padding: 10px 18px;
    color: #ffffff;
    background-color: var(--green-button);
    border-radius: 8px;
}


.diskusi__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 124px;
    margin: 0 auto;
    padding: 20px 18px 14px 24px;
    margin-bottom: 10px;
    background-color: #f8f5f1;
    border-radius: 8px;
}

.diskusi__list:hover {
    background-color: #f7f7f7;
}

.diskusi__list:hover .diskusi__tags {
    background-color: black;
    color: white;
}

.diskusi__list_title {
    width: 100%;
    max-height: 50px;
    font-size: 1.2em;
    font-weight: 400;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.diskusi__list_title p:hover {
    text-decoration: underline;
}

.diskusi__list_detail {
    width: 100%;
    height: 26px;
}

.tags__wrap {
    display: flex;
    gap: 4px;
}

.diskusi__tags {
    display: inline-block;
    padding: 1px 7px 2px 7px;
    background-color: #f1c4c4;
    border-radius: 4px;
}

.pagination__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 42px;
    padding: 10px 0px;
}

.pagination__button {
    padding: 8px 18px;
    color: white;
    background-color: var(--green-button);
    border-radius: 6px;
}

.pagination__button_disable {
    padding: 8px 18px;
    color: white;
    background-color: var(--green-button);
    opacity: .5;
    cursor: default;
    border-radius: 6px;
}

.diskusi__list_desk {
    width: 100%;
    max-height: 48px;
    color: #424242;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}