.home__content {
    width: 74%;
    padding: 18px 24px;
}

.diskusi__wrapper {
    width: 100%;
    margin-bottom: 42px;
}

.diskusi__header {
    margin-bottom: 18px;
    padding: 12px 0;
    border-bottom: 1.3px solid var(--border-items);
}

.diskusi__header time {
    font-size: .9em;
}

.diskusi__header_title {
    padding-bottom: 12px;
}

.tags__wrap {
    display: flex;
    gap: 8px;
    margin-top: 14px;
}

.diskusi__tags {
    display: inline-block;
    font-size: .8em;
    padding: 5px 8px 6px 8px;
    background-color: #f1c4c4;
    border-radius: 4px;
}

.komentar__wrapper {
    padding: 32px 0;
    margin-bottom: 42px;
}

.komentar__header {
    width: 100%;
    display: block;
    font-size: 1.3em;
    margin-bottom: 24px;
    padding: 12px 0;
    border-bottom: 1.6px solid var(--border-items);
}

/* .komentar__list {
    padding: 18px 0;
} */

.komentar__list {
    margin-bottom: 18px;
}

.komentar__aktivitas {
    display: block;
    font-size: .9em;
    color: #a8a5a5;
    margin-bottom: 12px;
}

.koment__user {
    display: flex;
    gap: 8px;
    padding: 12px 0;
}

.koment__user_img {
    width: 38px;
    height: 38px;
    background-color: #a8a5a5;
    border-radius: 8px;
}

.koment__user_role {
    font-size: .7em;
    padding: 2px 6px;
    color: white;
    background-color: #757ee4;
    border-radius: 5px;
}

.koment__konten {
    margin-bottom: 8px;
    padding: 20px 18px;
    border: 1.6px solid var(--border-items);
    border-radius: 8px;
}

.komentar__balas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 8px;
}

.komentar__balas_btn {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 6px;
    font-size: .9em;
}

.komentar__balas_btn_batal {
    padding: 6px 14px;
    color: white;
    background-color: gray;
    border-radius: 8px;
}
.komentar__balas_btn_kirim {
    padding: 6px 14px;
    color: white;
    background-color: var(--green-button);
    border-radius: 8px;
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.komentar__balas_input {
    width: 100%;
    min-height: 70px;
    padding: 12px 14px;
    font-family: 'Inter', sans-serif;
    border: none;
    outline: 1px solid var(--blue-button);
    border-radius: 8px;
}

.komentar__btn {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: .9em;
    padding: 2px 12px;
    margin-bottom: 8px;
}

.none {
    display: none;
}

.komentar__btn:hover {
    outline: 1px solid green;
    border-radius: 8px;
}

.reply__list {
    font-size: .8em;
    margin-bottom: 6px;
    padding: 12px 14px;
    border: 1.6px solid var(--border-items);
    border-radius: 8px;
}

.reply__user {
    display: flex;
    gap: 8px;
    padding: 0 0 6px 0;
}

.reply__user_img {
    width: 28px;
    height: 28px;
    background-color: #a8a5a5;
    border-radius: 4px;
}

.reply__aktivitas {
    color: #a8a5a5;
}

.komentar__editor span {
    display: block;
    margin-bottom: 18px;
}

.komentar__btn_kirim {
    margin-top: 92px;
    padding: 6px 14px;
    color: white;
    background-color: var(--green-button);
    border-radius: 8px;
}

@media only screen and (max-width: 1030px) {

    .home__content {
        width: 100%;
    }
}